<!DOCTYPE html>

<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Opium Artist Collective">
        <meta name="author" content="Opium">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Opium | People</title>
        
        <link rel="stylesheet" type="text/css" href="StyleSheets/Css/main.css">
        
        <script src="/JavaScript/scripts.js"></script>
        
        <link rel="icon" type="image/png" href="Assets/Images/icon.png">
		
	</head>
	
	<body>
		<nav class="navBar" id="mainNavBar">
			<a href="/index.html" class="linkFade">Opium</a>
		</nav>
        
        <div class="imageContent">
            <div class="bio">
                <a href="http://rowangryder.com" class="profileText">Rowan Guarnagia-Gryder</a>
            </div>
            <div class="bio" id="mc">
                <a href="http://mitchell-craft.net" class="profileText">Mitchell Craft</a>
            </div>
        </div>
        
        <div class="imgFloat" id="floatPeople">
        
        </div>
        
	</body>
</html>